body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-lookup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto; /* Center horizontally */
}

.result-lookup h1{
  color: black;
  text-align: center;
}

.result-lookup input {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.result-lookup button {
  background-color: #76c7c0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.result-lookup .error-message {
  color: red;
  margin-top: 10px;
}

.results {
  margin-top: 20px;
  text-align: left;
}
